/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Navbar */
#navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar-container {
    display: flex;
    justify-content: center;
}

.navbar-item {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

.navbar-item:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Main container */
#game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px; /* Adjust for navbar */
    padding: 20px;
    background-color: #fff;
    width: 80%;
    max-width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

#question-container {
    margin-top: 20px;
    text-align: center;
}

.option-btn {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    width: 60%;
}

.option-btn:hover {
    background-color: #2980b9;
}

#score {
    font-size: 1.5em;
    margin-top: 20px;
}

#result-box {
    margin-top: 20px;
    padding: 10px;
    font-size: 1.2em;
    color: white;
    text-align: center;
    display: none;
    border-radius: 5px;
}

/* Animations for result box */
.animate {
    animation: fadeIn 1s ease-in-out;
}

.correct {
    background-color: #27ae60; /* Green for correct */
}

.incorrect {
    background-color: #e74c3c; /* Red for incorrect */
}

/* Footer */
#footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
